In [4]:
import re
import pandas as pd
import pickle

In [5]:
# HQ
file1 = open('1645601391.result/1645601391.fas.1.clstr.sorted', 'r')
Lines = file1.readlines()

In [6]:
LineIndex = 0
cd_hit_dict = {}
while LineIndex < len(Lines):
    FF = re.search(r'^(>Cluster.*)', Lines[LineIndex])
    if FF != None:
        LineIndex += 1
        li = []
        dkey = ''
        while LineIndex < len(Lines):
            KK = re.search(r'^(.*\*)', Lines[LineIndex])
            if KK != None:
                dkey = KK.group()
                dkey = re.sub(r'.*>','',dkey)
                dkey = re.sub(r'\.\.\. \*','',dkey)
            else:
                KK = re.search(r'^(.*\.\.\.)', Lines[LineIndex])
                dval = KK.group()
                dval = re.sub(r'.*>','',dval)
                dval = re.sub(r'\.\.\.','',dval)
                li.append(dval)
            if(LineIndex == len(Lines)-1):
                break
            FF = re.search(r'^(>Cluster.*)', Lines[LineIndex + 1])
            if (FF == None):
                LineIndex += 1
            else:
                break
        cd_hit_dict.update({dkey: li})
    LineIndex += 1

In [7]:
iihq_li = []
for k in cd_hit_dict.keys():
    if(k.endswith('_HUMAN')):
        if(not(cd_hit_dict[k])):
            iihq_li.append(k)
        elif(all(protein.endswith('_HUMAN') for protein in cd_hit_dict[k])):
            iihq_li.append(k)
            iihq_li.extend(cd_hit_dict[k])
len(iihq_li)

1804

In [8]:
with open('iihqgr_int_and_dict.pkl', 'rb') as f:
    ii_interactions, seq_dict = pickle.load(f)

ii_selected = {x : seq_dict[x] for x in iihq_li}

In [9]:
p1 = []
p2 = []
for i in range(len(ii_interactions)):
    if ((ii_interactions.loc[i][0] in ii_selected) or (ii_interactions.loc[i][1] in ii_selected)):
        p1.append(ii_interactions.loc[i][0])
        p2.append(ii_interactions.loc[i][1])

final_ii_interactions_selected = pd.DataFrame({'Protein A': p1, 'Protein B': p2})

In [10]:
final_ii_interactions_selected

         Protein A    Protein B
0      IFT56_HUMAN  KIF3C_HUMAN
1      IFT56_HUMAN  KIF3B_HUMAN
2      IFT56_HUMAN   DYL1_HUMAN
3      IFT56_HUMAN  IFT88_HUMAN
4      IFT56_HUMAN  IFT20_HUMAN
...            ...          ...
32783  PANX2_HUMAN  PANX1_HUMAN
32784   MMAD_HUMAN   MMAC_HUMAN
32785  ILRL2_HUMAN  IL36B_HUMAN
32786  ILRL2_HUMAN  IL36G_HUMAN
32787  ILRL2_HUMAN  IL36A_HUMAN

[32788 rows x 2 columns]

In [11]:
with open('iihqlr.pkl', 'wb') as f:
    pickle.dump([final_ii_interactions_selected, seq_dict], f)

In [12]:
ii_interactions

             source       target
0       IFT56_HUMAN  KIF3C_HUMAN
1       IFT56_HUMAN  KIF3B_HUMAN
2       IFT56_HUMAN   DYL1_HUMAN
3       IFT56_HUMAN  IFT88_HUMAN
4       IFT56_HUMAN  IFT20_HUMAN
...             ...          ...
125431  MLXIP_HUMAN    MLX_HUMAN
125432  ILRL2_HUMAN  IL36B_HUMAN
125433  ILRL2_HUMAN  IL36G_HUMAN
125434  ILRL2_HUMAN  IL36A_HUMAN
125435  TNF18_HUMAN  TNR18_HUMAN

[125436 rows x 2 columns]